


.wrapper{
  display: grid;
  grid-template-columns: 5fr 1fr;
  /* border: 1pt solid black; */
  margin: 0rem 8rem 2rem 8rem;
  min-height: 80vh;
  
  
}

.sidebar{
  justify-self: right;
  

}
.main{
  
}

p{
  min-width: 10rem;
  padding-left: 1em;
  text-align: center;
  padding-right:3em;
  padding-left:3em;

 
  
}
p:hover {
  font-weight: 700;
}