

.blogwrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    /* border: 1pt solid black; */
    width: 100%;
    height: 100%;
    margin: 4%;

}

.blogBlock {
    border: 1pt solid black;
    box-shadow: 4pt 2pt 0 black ;
    height: 20%;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
}
.blogBlock:active{
    height: 21%;
    width: 91%;
    box-shadow: 0 0 0 white;
}

.blogHeader {
    font-weight: 600;
    background-color: rgb(255, 255, 167);
    font-size: 1.5rem;
    padding: 2%;
    height: 70%;
    border-bottom: 1pt solid black;
    overflow: hidden;
}